.container
  .row.justify-content-center.mb-3
    .col-md-12
      .input-group
        %input#copy-room-name.form-control{type: "text", value: "#{request.base_url}/rooms/#{@room.name}"}/
        %span.input-group-btn
          %button#copy-button.btn.btn-secondary{type: "button"} Click to Copy
  .row
    .col-md-3
      #join-btn-container
        %button.btn.btn-blue.btn-block{onclick: "handleJoinSession()"}
          Join Room

    .col-md-9
      %span#room-name{"data-room" => "#{@room.name}"}
      %span#currentUser{"data-email" => "#{@user.email}"}
      #remoteViewContainer
      #localViewContainer
        %video#selfView{autoplay: ""}
        %i.fas.fa-video{onclick: "toggleVideo()"}
        %i.fa.fa-microphone{onclick: "toggleAudio()"}
        %i.fa.fa-phone{onclick: "handleLeaveSession()"}
        
- content_for :page_js do
  :javascript
    #{render file: "rooms/webrtc.js"}
